.calc{
	color:rgb(17, 15, 14); 
	padding-bottom: 14;
	text-align: center;
	border-radius: 20px;
	margin-left: 15;
	border: 10px solid;
	background-color: rgb(49, 253, 236);
	width: 300px;
	margin: 200px;

}
.rezultat{
	text-align: center;
	width: 100px;
	border-radius: 20px;
	border: 10px solid;
	width: 200px;
	padding: 25px;
	background-color: aliceblue;
	font-size: 10px;
	margin-left: 10px;

}
.val1{
	border: 5px solid;
	border-radius: 20px;
	text-align: center;
}
.val2{
	border: 5px solid;
	border-radius: 20px;
	text-align: center;
}
button{
	color:rgb(14, 13, 13); 
	background-color: rgb(248, 225, 20);
	border: 3px solid;
	border-radius: 20px;
	height: 40px;
	width: 40px;
	padding: 0px;
	font-size: 20px;
	
}
